fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
pyquery
curl_cffi
bencoder
loguru
apscheduler
requests
jinja2
python-jose
passlib
qbittorrent-api
transmission_rpc
protobuf
grpcio
python-multipart
argon2_cffi
telebot
croniter
